body {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}

#lc {
    position: flex;
    width: 10%;
}

#barParent {
    position: flex;
    width: 80%;
    align-self: flex-end;
}

#bar {
    height: 55px;
    position: flex;
    background-color: blue;
}